<div>
<app-navbar></app-navbar>
<main class="mx-5 overflow-hidden">
  <div class="container-fluid overflow-hidden align-center p-2">
    <div class="row overflow-hidden justify-content-center g-0" >
      <div class="col-md-8 p-4 container-fluid" >
        <app-main></app-main>
      </div>
      <div class="col-md-4 p-4 container-fluid" >
        <app-advertisement></app-advertisement>
        <hr>
        <app-recommendation></app-recommendation>
      </div>
    </div>
    <hr>
  </div>
</main>
</div>